<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GViz@YanLab</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/gviz.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static',filename='img/mini.jpg') }}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="{{ url_for('static',filename='css/pagination.css') }}" rel="stylesheet">
  <script src="{{ url_for('static',filename='js/jquery-3.6.2.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/pagination.min.js') }}"></script>
  <script>
    // Sniff MSIE version
    // http://james.padolsey.com/javascript/detect-ie-in-js-using-conditional-comments/
    var ie = (function () {
      var undef,
        v = 3,
        div = document.createElement('div'),
        all = div.getElementsByTagName('i');
      while (
        div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->', all[0]
      );
      return v > 4 ? v : undef;
    }());

    function takeAction() {
      if (ie && ie < 9) {
        D3notok();
      } else {
        // Load D3.js, and once loaded do our stuff
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = "{{ url_for('static',filename='js/d3.min.js') }}";
        script.addEventListener('load', D3ok, false);
        script.onload = "D3ok();";
        head.appendChild(script);
      }
    }
  </script>
</head>

<body onload="takeAction();">

  <div id="nocontent">
    <h1>Sadly your browser is not compatible with this site</h1>

    <div>You can use <a href="http://www.google.com/chrome/">Google
        Chrome</a>, <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a> or <a
        href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft
        Internet Explorer (v9 or above)</a></div>

  </div>
  <div id="header">
    <h1>Graph Matching</h1>
    <!-- <img src="static/logo.jpg" /> -->
  </div>

  <div id="body">
    <div id="leftpanel">
      <div id="datasets">
        <select id="datasets_combobox" class="form-select" disabled="true">
          <option>Choose a Dataset</option>
        </select>
      </div>
      <div id="queryGraph_big">
        <h5>Query Graph</h5>
        <!-- <b>Order: 0-1-2</b> -->
        <div id="queryGraph">
        </div>
      </div>

      <div id="instances">
        <h5>Instances</h5>
        <div id="instances-container" class="scroll"></div>
      </div>
      <div id="pagination-container"></div>
      <div id="parameters">
        <h5>Settings</h5>
        <div>
          <div>
            <div class="float_left">
              Mode:
            </div>
            <div class="form-check float_left radio_margins">
              <input class="form-check-input" type="radio" name="graph_type" id="union" value="union_graph" checked>
              <label class="form-check-label" for="union">
                Union Graph
              </label>
            </div>
            <div class="form-check float_left radio_margins">
              <input class="form-check-input" type="radio" name="graph_type" id="expansion" value="expansion_graph">
              <label class="form-check-label" for="expansion">
                Expansion Graph
              </label>
            </div>
          </div>
          <!-- <div>
            <b>Mode:</b>
            <input type="radio" id="union" name="graph_type" value="union_graph" checked="checked"><label
              for="union">Union Graph</label>
            <input type="radio" id="expansion" name="graph_type" value="expansion_graph"><label
              for="expansion">Expansion
              Graph</label>
          </div> -->
          <!-- <div>
            <b>Max Result #:</b>
            <input type="text" id="max_results" name="max_results" value="10,000">
          </div> -->

        </div>
      </div>
    </div>
    <div id="networkPanel">
      <div>
        <div id="link_strength"><label>Link Strength</label></div>
        <div id="link_strength_input"><input style="width:100px;" type="range" min="0" max="1" step="any" value="1">
        </div>
      </div>
      <div class="loader on" id="loader"></div>
      <div id="sidepanel">
        <div id="nodeInfo" class="panel_off"></div>
      </div>
    </div>
  </div>
  <script src="{{
    url_for('static', filename='js/gmatch.js')
  }}"></script>
</body>

</html>